.container {
  position: relative;
  display: flex;
}

.shapesMenu {
  position: absolute;
  background-color: var(--secondary-color);
  left: 100%;

  display: flex;

  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;

  opacity: 0;
  transition: opacity 0.3s ease;
}

.selected{
  background-color: var(--main-color) !important;
  color: white;
}


span{
  display: block;
  width: 25px;
  margin: auto;
}



.shapesMenu button:last-child{
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.container:hover .shapesMenu {
  opacity: 1;
}

.line {
  height: 3px;
  background-color: black;
  transform: rotate(135deg);
}
.shapesMenu button:hover .line,
.selected .line{
  background-color: white;
}

.rectangle {
  height: 15px;
  border-radius: 2px;
  border: solid 3px black;
}

.circle {
  height: 25px;
  border-radius: 50%;
  border: solid 3px black;
}

.elipse {
  height: 15px;
  border-radius: 100%;
  border: solid 3px black;
}

.triangle {
  font-family: Arial, sans-serif;
  font-size: 1.5rem; /* Adjust the size as needed */
  display: inline-block;
  line-height: 1;
}

button:hover .rectangle,
button:hover .circle,
button:hover .elipse,
.selected .rectangle,
.selected .circle,
.selected .elipse{
  border-color: white;
}