.ControlMenu {
    position: fixed;
    top: 10px;
    right: 10px;
}

.ControlMenu button {
    background-color: var(--secondary-color);
    border: none;
    border-radius: 100%;
    font-weight: bold;
    cursor: pointer;
}

.ControlMenu button:hover {
    background-color: var(--main-color);
    color: white;
}

.expandBtn{
    height: 50px;
    width: 50px;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.ControlMenu>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.ControlMenu>div button {
    transition: 0.3s ease-in-out,
                color 0.1s ease-in-out, 
                background-color  0.1s ease-in-out;
    
    
}

.expanded button {
    height: 40px;
    width: 40px;
    font-size: 0.8rem;
    opacity: 100%;
}

.collapsed button{
    height: 0px;
    width: 0px;
    font-size: 0rem;
    opacity: 0%;
}

.danger {
    color: darkred;
}
